#admin-reports{
    padding: 2em;
}

.card.answer{
    margin-top: 1em;
}

header.faq-header{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

header.faq-header button{
    align-self: center;
}

div.choices{
    display: flex;
    justify-content: center;
}
div.choices form{
    margin: 0 1em;
}

div.choice-container strong{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.banner-pic{
    width: 100%;
    height: 15em;
    object-fit: cover;
}