html{
  min-height: 100%;
  display: grid;
}

body {
    background-color: #f3f2f2;
    color: #85bcc7;
    margin: auto;
  }

#content{
  height: 100vh;
  display: contents;
}

 
  .inner-content{
    display: grid;
    grid-template-columns: minmax(10vw, 20vw) 1fr; 
    grid-template-rows: 100vh;
  }
  
  
  

  
    
  
  /**
   * Override milligram colors
   * Some styles might be missing
   **/
   body{color:#606c76;font-family:'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:1.6em;font-weight:300;letter-spacing:.01em;line-height:1.6}