

.login-register-form{
    display: grid;
    max-width:fit-content;
}

.login-register{
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

h1{
    font-size: xxx-large;
    margin: 0;
}

#email, #password, #username, #name, #password-confirm, #country{
    border-color: cornflowerblue;
    border-radius: 1em;
    outline: none;
}


label{
    font-size: medium;
    margin-top: 1em;
}



.button:hover, .link-button:hover{
    background-color: #f3f2f2;
    color: cornflowerblue;
    transition: background-color 0.3s ease-in-out;
}

#buttons-container > .button, .link-button {
   width: 70%;
   margin-right: 1em;
   font-size: medium;
}


#buttons-container{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}