#follow-request {
    display: flex;
    align-items: center;
}

.request-buttons {
    margin-left: auto;
}

.accept-request,
.decline-request {
    margin-left: 10px;
}


#notification-list{
    margin: 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-list{
    margin: 0.2em;
}

.notifications-container{
    padding: 2em;
}

.follow-request-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-buttons {
    display: flex;
    margin-left: 25em;
}

.notification-text{
    margin-bottom: 0;
    margin-left: 1em;
    font-size: large;
}

.notification-info{
    display: flex;
    align-items: center;
}

.img-notification{
    width: 80px;
    height: 80px;
    object-fit: cover;
    
}

.img-notification.img-user{
    border-radius: 50%;
}

.link-notification{
    text-decoration: none;
}