button {
    border: none;
    border-radius: 1em;
    padding: 0%;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}

.comment-count, .like-count{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article.post{
    margin-left: 5%;
}

a.post-author-name, a.post-comment-author-name{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.post{
    font-size: large;
    background-color: #CCCCCC;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 1em;
}

.post-date{
    margin: 0;
}

.post-body-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.post-footer-links{
    padding-left: 0px;
    
}


.post-footer-links{
    margin:0;
    margin-top:0.5em;
}

ul.post-footer-links img{
    cursor: pointer;
    width:40px;
    padding-right: 10px;
}

img.post-img{
    width: 100%;
}

ul.post-comments-list{
    list-style: none;
    padding-inline-start: 0%;
}

div.post-body{
    width: 100%;
}

.post-edit img, input.post-delete, .post-delete img{
    width: 40px;
    padding-right: 3px;
}

a.post-edit{
    text-decoration: none;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-delete-post{
    display: flex;
    flex-direction: row;
}

.comment-post, .like-post, .dislike-post{
    margin-right: 1em;
}

#edit-delete-post{
    display: flex;
    flex-direction: row;
}

#edit-delete-post .btn-secondary{
    background:transparent;
    border: transparent;
    color: black;
}



/*------------------------ POST CREATE -----------------------------*/

.create-post-form{
    display: grid;
    max-width:fit-content;
}

.create-post{
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
}


#post-choose-photo, #post-text{
    margin-bottom: 1em;
}

#post-text{  
    border-color: cornflowerblue;
    border-radius: 1em;
    padding: 1em;
}

.post-body a{
    text-decoration: none;
    padding: 0%;
    color: black;
}


