 #profile-buttons-area{
    display: flex;
    align-items: baseline;
 }

 #profile-buttons-area #edit-delete-post{
    margin-right: 1em;
    font-size: larger;
}


.profile-btns .btn{
    font-size: xx-large;
}

#profile-picture {
    width: 6em;
    height: 6em;
    border-radius: 10%;
    overflow: hidden;
    margin-right: 2rem;
}

#profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#profile {
    flex: 1;
    overflow-y: auto;
}

#user-presentation {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid cornflowerblue;
    justify-content: space-between;
}

#user-name {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: x-large;
}

#user-username {
    font-size: large;
    font-weight: 100;
    margin: 0;
    margin-bottom: 1em;
}

.infos-with-margin a{
    text-decoration: none;
    color: black;
}



#edit-profil-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-infos {
    display: flex;
    font-size: medium;
}

.infos-with-margin {
    margin-right: 10%;
}

p {
    white-space: nowrap;
}

/* USER'S POSTS */

#user-post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
}

.post-container {
    font-size: large;
    background-color: #CCCCCC;
    margin-bottom: 1em;
    border-radius: 1em;
}

#user-posts {
    padding: 2em;
}


#more-settings-profile .btn-secondary{
    background:transparent;
    border: transparent;
    color: black;
  }