nav.menu-lateral{
    width: 3.5em;
    height: 100%;
    background-color:  #CCCCCC;
    padding: 40px 0 40px 0.5%;
    overflow: hidden;
    transition: 0.5s;
}

nav.menu-lateral:hover{
    width: 13em;
    overflow: visible;
    box-shadow: 3px 0 0 cornflowerblue;
}

.btnb-expand{
    width: 100%;
    padding-left: 5px;

}

.btnb-expand > i{
   color: white;
   font-size: 1.5em;
   cursor: pointer;

}

#notification-count{
    position:absolute;
    font-size: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.ul-navbar{
    height: 100%;
    list-style: none;
    padding: 0;
}

.menu-item{
    transition: .2s;
}

.menu-item:hover{
    background: cornflowerblue;
}

.bar-link{
    color: white;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.txt-link{
    margin-left: 1.2em;
    color: white;
    font-weight: 400;
}

.icon > i{
    font-size: 1.5em;
}

@media (max-width: 1600px) {
    nav.menu-lateral{
        width: 2.5em;
        height: 100%;
        background-color:  #CCCCCC;
        padding: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    .menu-item:first-child > .bar-link {
        padding-top: 40px;
    }

    .bar-link{
        color: white;
        font-size: 15px;
        padding: 10px 20% 10px 20%;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 900px) {
    nav.menu-lateral{
        width: 2.3em;
        height: 100%;
        background-color:  #CCCCCC;
        padding: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    .menu-item:first-child > .bar-link {
        padding-top: 30px;
    }

    .bar-link{
        color: white;
        font-size: 15px;
        padding: 5px 20% 5px 20%;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 500px) {
    nav.menu-lateral{
        width: 2.5em;
        height: 100%;
        background-color:  #CCCCCC;
        padding: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    nav.menu-lateral:hover{
        height: 100%;
        overflow: visible;
        box-shadow: 0 3px 0 cornflowerblue;
    }

    .ul-navbar{
        height: 100%;
        list-style: none;
        padding: 0;
    }

    .menu-item{
        transition: .2s;
    }

    .menu-item:hover{
        background: cornflowerblue;
    }

    .menu-item:first-child > .bar-link {
        padding-top: 20px;
    }

    .bar-link{
        color: white;
        font-size: 15px;
        padding: 2px 20% 2px 20%;
        display: flex;
        align-items: center;
    }

    .txt-link{
        margin-left: 1.2em;
        color: white;
        font-weight: 400;
    }

    .icon > i{
        font-size: 1.5em;
    }
    
}