#side-bar{
    background-color: #CCCCCC;
   
    width: 13em;
    position: sticky; /* CHANGE LATER */
    height: 100%;
}

p a, li a {
    text-decoration: none;
    color: inherit;
}



.side-bar-link, .side-bar-link:visited, .side-bar-link:hover{
    text-decoration: none;
    color: black;
    font-size: smaller;
}

.rights-text{
    color:black;
    font-size: x-small;
}

#upper-sidebar, #lower-sidebar{
    list-style: none;
}
 
#upper-sidebar{
    margin-top: 2em;
}

#lower-sidebar{
    position: absolute;
    bottom: 0;
    margin: 0;
}

#profile-buttons-area{
    display: flex;
}

.name-link{
    font-size: inherit;
}

.name-link:hover{
    font-size: inherit;
}


